@using ozmutluweb.Models.Siniflar
@model List<Urunler>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ürün Listesi</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th> ID </th>
        <th> BAŞLIK </th>
        <th> SİL </th>
        <th> GÜNCELLE </th>
    </tr>
    @foreach(var x in Model){
    <tr>
        <td>@x.ID</td>
        <td>@x.Baslik</td>
        <td><a href="/Admin/UrunSil/@x.ID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Admin/UrunGetir/@x.ID" class="btn btn-success">Guncelle</a></td>
    </tr>
    }
</table>
<a href="/Admin/YeniUrun/" class="btn btn-primary">Yeni Ürün</a>

