
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_OzmutluLayout</title>
</head>
<body>
    burası projemin layout kısmıdır.
    <div>
    @RenderBody()
    </div>
</body>
</html>
